body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 2rem;
    height: 100vh;
}

.game {
    grid-column: 1/2;
}

.chatBox {
    grid-column: 2/3;
}

img {
    height: 200px;
    width: 200px;
}