body {
    background-color: blue;
}

.container {
    background-color: yellow;
    margin-top: 4rem;
    height: 40rem;
}

#start {
    height: 10rem;
    width: 15rem;
    background-color: goldenrod;
    border: wheat solid .20rem;
    position: relative;
    margin: 4rem auto 4rem auto;
    padding-top: 4rem;
}

#done {
    height: 10rem;
    width: 15rem;
    background-color: goldenrod;
    border: wheat solid .20rem;
    position: relative;
    margin: 4rem auto 4rem auto;
    padding-top: 4rem;
    visibility: hidden;
}